.con{
    overflow-y: hidden;
    overflow-x: hidden;
}

.order{
    background-color:#d2d2d2;
    width: 1100px;
    margin: 20px 35px 0 20px;
}

.order div{
    padding-left: 41px;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}

.order div .span01{
    margin-left: 745px;
    font-size: 15px;
}

.con .box2{
    width: 1100px;
    background-color: white;
    height:500px;
    margin-left: 20px;
    padding-top: 35px;
}

h5{
    margin-left: 20px;
    margin-top: 20px;
}

h5 span{
    color:#e61d4c;
}

ul{
    margin-left: 90px;
}

li{
    list-style: none;
}

ul .box3{
    margin-left: -15px;
}

ul li {
    /*margin-left: 110px;*/
}

ul li .glyphicon{
    top: 0;
    color:#d2d2d2;
    border: 1px solid #abaaaa;
    padding: 4px;
    margin-right: 25px;
}

ul .icon hr{
    height: 32px;
    margin: 0 12px;
}
