body{
    width:100%;
    height:100%;
    background:#ffffff;
}

img{
    max-width:212px;
    /*margin-left: 41%;*/
    background:no-repeat;
    margin: 20px auto;
}


 /*.img_wrap{*/
     /*max-width:212px;*/
     /*!*width: 400px;*!*/
     /*!*height: 300px;*!*/
     /*!*border: 1px dashed #ccc;*!*/
     /*display: table-cell; //主要是这个属性*/
     /*vertical-align: middle;*/
     /*text-align: center;*/
/*}*/

h1{
    text-align: center;
    margin-bottom: 10px;
}

form{
    width: 256px;
    margin-left: 50px;
}

a:hover{
    text-decoration:underline;
}
.c-box{
    width:100%;
    min-width: 1190px;
    overflow:hidden;
}

.login-box{
    width:360px;
    height: 465px;
    /*margin:40px auto;*/
    border:1px solid #D2D2D2;
    margin: 0 auto;
}

.error{
    background: #fb8344;
    color:#fff !important;
    text-align: center;
    line-height: 40px !important;
    margin:10px 0;
}
.form-group{
    position:relative;
    width:256px;
    height:39px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*overflow:hidden;*/
}
.marb20{
    margin: 22px 0 30px;
}
.marb8{
    margin-bottom:30px;
}
.marb38{
    margin-bottom:38px;
}

.form-group > input{
    float:left;
    width:236px;
    line-height:32px;
    padding:7px 10px;
    border:0;
    line-height:normal\9;
    padding:12px 10px 9px\9;
    font-size: 18px;
    border:1px solid #dedede;
}

.btn{
    width:100%;
    height:42px;
    line-height:42px;
    font-size:18px;
    color:#fff;
    border:0;
    cursor:pointer;
    margin-bottom: 13px;;
}
.btn-green{
    background:#e61d4c
}
/*.btn-green:hover{*/
    /*background:#5dbf45;*/
/*}*/

.bg, .dialog .bg, .dialog1 .bg, .dialog2 .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: Alpha(opacity=50);
    display: none;
}

.bg{z-index: 998;position:fixed;top:0;left:0;width:100%;height:100%;background: #000;opacity: .5;filter:Alpha(opacity=50);display:none;}

.checkbox{
    zoom: 150%;
    float: left;
    margin-left: 0;
}

span{
    margin: 2px 0;
    float: left;
    font-size: 14px;
}

.error_tip{
    display: none;
    color: red;
}