<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>请登录</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="bg" id="dialogBg"></div>
<section>
    <div class="container c-box bg-box">
        <div class="row" style="text-align: center;">
            <img alt="Brand" src="/static/image/logo/ks04.png">
        </div>
        <div class="login-box clearfix">
            <h1>登 录</h1>
            <form action="/login/" method="post" autocomplete="off">

                <hr style=" color: #E5E5E5;"/>
                <div class="form-group marb20 {% if login_form.errors.username %}errorput{% endif %}">
                    <input type="text" name="username" id="account_l" placeholder="账号" value="{{ username }}"/>
                </div>
                <div class="form-group marb8 {% if login_form.errors.username %}errorput{% endif %}">
                    <input name="password" id="password" type="password" placeholder="密码" />
                </div>
                <div class="error btns login-form-tips" id="jsLoginTips">
                     {% for key,error in login_form.errors.items %}
                         {{ error }}
                     {% endfor %}{{ msg }}
                </div>
                <input class="btn btn-green" id="jsLoginBtn" type="submit" value="登 录" />
                <input type="checkbox" name="remember" checked="checked" value="1" class="checkbox"/>
                <span>记录登录状态</span>
                {% csrf_token %}
            </form>
        </div>
    </div>
</section>

</body>
</html>
